PORT=4000
DATABASE_URL="postgresql://postgres:password@localhost:5432/mermud_db?schema=public"
JWT_SECRET="mermud_super_secret_jwt_key_sulut_2026"
BASE_CURRENCY="IDR"
DEFAULT_CITY="Manado"
PLATFORM_COMMISSION_PERCENT=15
